aiohttp==3.8.3
aiosignal==1.3.1
amqp==5.1.1
appnope==0.1.3
asgiref==3.6.0
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
base58==2.1.1
beautifulsoup4==4.11.1
billiard==3.6.4.0
bitarray==2.6.2
bleach==5.0.1
celery==5.1.2
certifi==2022.12.7
charset-normalizer==2.1.1
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
croniter==1.3.5
cytoolz==0.12.1
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
Django==3.2.5
django-cors-headers==3.10.1
django-drf-filepond==0.4.1
django-filter==21.1
django-storages==1.13.2
djangorestframework==3.12.4
entrypoints==0.4
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.1
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
fastjsonschema==2.16.2
frozenlist==1.3.3
gevent==21.12.0
greenlet==1.1.3.post0
hexbytes==0.3.0
idna==3.4
importlib-metadata==4.13.0
ipfshttpclient==0.8.0a2
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.17.3
jupyter_client==7.4.8
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
kombu==5.2.4
lru-dict==1.1.8
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mistune==2.0.4
mljar-mercury==0.8.1
multiaddr==0.0.9
multidict==6.0.4
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.1
nest-asyncio==1.5.6
netaddr==0.8.0
packaging==22.0
pandocfilters==1.5.0
parsimonious==0.8.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.6.2
prompt-toolkit==3.0.36
protobuf==3.19.5
psutil==5.8.0
ptyprocess==0.7.0
pycryptodome==3.16.0
Pygments==2.14.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2022.7
PyYAML==6.0
pyzmq==24.0.1
requests==2.28.1
rlp==2.0.1
shortuuid==1.0.11
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.27
sqlparse==0.4.3
tinycss2==1.2.1
toolz==0.12.0
tornado==6.2
traitlets==5.8.0
urllib3==1.26.13
varint==1.0.2
vine==5.0.0
wcwidth==0.2.5
web3==5.31.3
webencodings==0.5.1
websockets==9.1
whitenoise==5.3.0
yarl==1.8.2
zipp==3.11.0
zope.event==4.6
zope.interface==5.5.2
